<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>小说后台</title>
    <link rel="stylesheet" type="text/css" href="/Public/Admin/css/app.css" />
    <style type="text/css">
        #input {position: absolute;top: 0;left: 0;opacity: 0;z-index: -10;}
        .copy_button {color: #3D3D3D}
        .copy_button.active {
            color: #00b0ff;
        }
    </style>
    <script type="text/javascript" src="/Public/Admin/js/app.js"></script>
    <script type="text/javascript">
        $(function () {
            $(document).on('click', '.copy_button', function (e) {
                $('.copy_button').removeClass('active')
                $(this).addClass('active');
                $(this).parent().find("textarea").select();
                document.execCommand("copy"); // 执行浏览器复制命令
            })
        })
    </script>
</head>
<body>
<div class="wrapper">
    <!-- START HEADER -->

    {%include file='../Public/header.html'%}
    <!-- END HEADER -->

    <!-- START MAIN -->
    <div id="main">
        <!-- START SIDEBAR -->
        {%include file="../Public/sidebar.html"%}
        <!-- END SIDEBAR -->

        <!-- START PAGE -->
        <div id="page">
            <!-- start page title -->
            <div class="page-title">
                <div class="in">
                    <div class="titlebar">	<h2>小说管理</h2>	<p>小说列表</p></div>

                    <div class="clear"></div>
                </div>
            </div>
            <!-- end page title -->

            <!-- START CONTENT -->
            <div class="content">
                <div class="simplebox grid740" style="z-index: 720;">
                    <div class="titleh" style="z-index: 710;">
                        <h3>搜索</h3>
                    </div>
                    <div class="body" style="z-index: 690;">

                        <form id="form2" name="form2" method="post" action="?c=novel">
                            <div class="st-form-line" style="z-index: 680;">
                                <span class="st-labeltext">书名or作者名</span>
<!--                                {%if isset($cond['a_title'])%}{%$cond['a_title']%}{%/if%}-->
                                <input name="keyword" type="text" class="st-forminput" style="width:33%" value="{%$params.keyword%}">
                                <div class="clear" style="z-index: 670;"></div>
                            </div>
                            <div class="st-form-line" style="z-index: 620;">
                                <span class="st-labeltext">状态</span>
                                <label class="margin-right10">
                                    <div class="radio">
                                        <span>
                                            <input type="radio" name="isComplete" class="uniform" value="0" checked>
                                        </span>
                                    </div> 全部
                                </label>
                                <label class="margin-right10">
                                    <div class="radio">
                                        <span>
                                            {%if $params.isComplete eq 2%}
                                            <input type="radio" name="isComplete" class="uniform" value="2" checked>
                                            {%else%}
                                            <input type="radio" name="isComplete" class="uniform" value="2" >
                                            {%/if%}
                                        </span>
                                    </div> 已完结
                                </label>
                                <label class="margin-right10">
                                    <div class="radio">
                                        <span>
                                            {%if $params.isComplete eq 1%}
                                            <input type="radio" name="isComplete" class="uniform" value="1" checked>
                                            {%else%}
                                            <input type="radio" name="isComplete" class="uniform" value="1">
                                            {%/if%}
                                        </span>
                                    </div> 连载中
                                </label>
                                <div class="clear" style="z-index: 610;"></div>
                            </div>
                            <div class="button-box" style="z-index: 460;">
                                <input type="submit" id="button" value="搜索" class="st-button">
                            </div>
                        </form>
                    </div>
                </div>

                <!-- START TABLE -->
                <div class="simplebox grid740">

                    <div class="titleh">
                        <h3>小说列表：共有 {%$records%} 条记录</h3>
                    </div>

                    <table id="myTable" class="tablesorter">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>标题</th>
                            <th>作者</th>
                            <th>章节</th>
                            <th>类别</th>
                            <th>阅读量</th>
                            <th>来源</th>
                            <th>阅读地址</th>
                            <th>操作</th>
                            <th>最后更新</th>
                        </tr>
                        </thead>
                        <tbody>
                        {%foreach $novels as $novel%}
                        <tr>
                            <td>{%$novel.id%}</td>
                            <td><a href="?c=novel&a=chapter&id={%$novel.id%}">{%$novel.title%}</a></td>
                            <td>{%$novel.author%}</td>
                            <td>{%$novel.total%}</td>
                            <td>{%$novel.category%}</td>
                            <td>{%$novel.readCount%}</td>
                            <td>
                                <a href="{%$novel.domain%}{%$novel.source%}" target="_blank">{%$novel.source%}</a>
                            </td>
                            <td>
                                <a href="/index.php?c=chapter&n={%$novel.id%}&name={%$novel.title%}" target="_blank">查看</a>
                                <textarea id="input" display="none">https://www.tuiwenya.com/index.php?c=chapter&n={%$novel.id%}&name={%$novel.title%}</textarea>
                                <button class="copy_button">复制</button>
                            </td>
                            <td>
                                <a href="?c=novel&a=delete&id={%$novel.id%}" onclick="return confirm('确认删除文章：{%$novel.title%}？');">删除</a>
                                <a href="?c=novel&a=edit&id={%$novel.id%}">编辑</a>
                                {%if $novel.isDelete%}
                                <a href="?c=novel&a=hide&id={%$novel.id%}&delete=false">显示</a>
                                {%else%}
                                <a href="?c=novel&a=hide&id={%$novel.id%}&delete=true">隐藏</a>
                                {%/if%}
                            </td>
                            <td>{%$novel.utime|date_format:'%m月%d号%H:%M'%}</td>
                        </tr>
                        {%/foreach%}
                        </tbody>
                    </table>
                    <ul class="pagination">
                        {%$pageStr%}
                    </ul>
                </div>
                <!-- END TABLE -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END PAGE -->
        <div class="clear"></div>
    </div>
    <!-- END MAIN -->

    <!-- START FOOTER -->
    {%include file="../Public/footer.html"%}
    <!-- END FOOTER -->
</div>
</body>
</html>

