<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>生成文章</title>

    <style type="text/css">
        span {
            font-size: 13px;
        }
        section {
            text-align: left; line-height: normal;
        }
    </style>
</head>
<body>

<p>{%foreach $results as $result%} 《{%$result.title%}》 {%/foreach%}</p>

<div class="rich_media_content " id="js_content" style="visibility: visible;">
    <section style="border-width: 0px; width: 595.75px; line-height: 25.6px; letter-spacing: 0.54px; font-family: -apple-system-font, BlinkMacSystemFont, &quot;Helvetica Neue&quot;, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei UI&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif; margin-right: auto; margin-left: auto; white-space: normal; max-width: 100%; widows: 1; background-color: rgb(255, 255, 255); font-variant-numeric: normal; font-variant-east-asian: normal; overflow-wrap: break-word !important; box-sizing: border-box !important; visibility: visible;"
             data-id="93417" data-width="88%" data-tools="135编辑器"
             data-darkmode-bgcolor="rgb(36, 36, 36)"
             data-style="border-width: 0px; width: 595.75px; line-height: 25.6px; letter-spacing: 0.54px; font-family: -apple-system-font, BlinkMacSystemFont, &quot;Helvetica Neue&quot;, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei UI&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif; margin-right: auto; margin-left: auto; white-space: normal; max-width: 100%; widows: 1; background-color: rgb(255, 255, 255); font-variant-numeric: normal; font-variant-east-asian: normal; overflow-wrap: break-word !important; box-sizing: border-box !important;"
             class="js_darkmode__0">

        <section
                style="text-align: center; font-size: 17px; max-width: 100%; overflow-wrap: break-word !important; box-sizing: border-box !important; visibility: visible;"
                data-darkmode-bgcolor="rgb(36, 36, 36)">
            <section
                    style="width: 55px; display: inline-block; max-width: 100%; overflow-wrap: break-word !important; box-sizing: border-box !important; visibility: visible;"
                    data-darkmode-bgcolor="rgb(36, 36, 36)"><br
                    data-darkmode-bgcolor="rgb(36, 36, 36)" style="visibility: visible;">
            </section>
        </section>
        <section
                style="text-align: center; font-size: 17px; max-width: 100%; overflow-wrap: break-word !important; box-sizing: border-box !important; visibility: visible;"
                data-darkmode-bgcolor="rgb(36, 36, 36)">
            <section style="width: 55px; display: inline-block; max-width: 100%; overflow-wrap: break-word !important; box-sizing: border-box !important; visibility: visible;" data-darkmode-bgcolor="rgb(36, 36, 36)">
                <img style="margin-bottom: -8px; display: block; visibility: visible !important; overflow-wrap: break-word !important; box-sizing: border-box !important; width: 55px !important; height: auto !important;" data-ratio="0.42696629213483145" data-type="png" data-width="100%"
                     data-w="89" data-darkmode-bgcolor="rgb(36, 36, 36)"
                     src="/Public/Admin/img/flower_heart.png" crossorigin="anonymous" class=""
                     data-fail="0">
            </section>
        </section>
        <section style="border-width: 1px; border-style: dashed; border-color: rgb(19, 133, 164); max-width: 100%; overflow-wrap: break-word !important; box-sizing: border-box !important; visibility: visible;"
                 data-darkmode-bgcolor="rgb(36, 36, 36)"
                 data-style="border-width: 1px; border-style: dashed; border-color: rgb(19, 133, 164); max-width: 100%; overflow-wrap: break-word !important; box-sizing: border-box !important;"
                 class="js_darkmode__1">
            <section style="padding: 5px; max-width: 100%; overflow-wrap: break-word !important; box-sizing: border-box !important; visibility: visible;"
                     data-darkmode-bgcolor="rgb(36, 36, 36)">
                <section style="background: rgb(239, 250, 253); max-width: 100%; overflow-wrap: break-word !important; box-sizing: border-box !important; visibility: visible;"
                         data-darkmode-bgcolor="rgb(184, 192, 195)"
                         data-style="background: rgb(239, 250, 253); max-width: 100%; overflow-wrap: break-word !important; box-sizing: border-box !important;"
                         class="js_darkmode__2">
                    <section style="padding: 1em; color: rgb(54, 84, 125); line-height: 1.75em; letter-spacing: 1.5px; max-width: 100%; overflow-wrap: break-word !important; box-sizing: border-box !important; visibility: visible;"
                             data-autoskip="1" data-darkmode-bgcolor="rgb(184, 192, 195)">
                        <section
                                style="text-align: left; line-height: normal; font-size: 14px; min-height: 1em; max-width: 100%; overflow-wrap: break-word !important; box-sizing: border-box !important; visibility: visible;"
                                data-darkmode-bgcolor="rgb(184, 192, 195)">【桃子推文小站】书单推荐{%$time%}
                        </section>
                        <section
                                style="text-align: left; line-height: normal; font-size: 14px; min-height: 1em; max-width: 100%; overflow-wrap: break-word !important; box-sizing: border-box !important; visibility: visible;"
                                data-darkmode-bgcolor="rgb(184, 192, 195)">
                            <span
                                    style="max-width: 100%; overflow-wrap: break-word !important; box-sizing: border-box !important; visibility: visible;"
                                    data-darkmode-bgcolor="rgb(184, 192, 195)">目录
                            </span>
                        </section>
                        {%foreach $results as $result%}
                        <section style="text-align: left; line-height: normal; font-size: 14px; min-height: 1em; max-width: 100%; overflow-wrap: break-word !important; box-sizing: border-box !important; visibility: visible;"
                                 data-darkmode-bgcolor="rgb(184, 192, 195)">
                            <span>
                                《{%$result.title%}》作者：{%$result.author%}
                            </span>
                        </section>
                        {%/foreach%}
                        <br>
                        <section>
                            <img style="text-align: left; color: rgb(54, 84, 125); letter-spacing: 1.5px; font-family: -apple-system-font, BlinkMacSystemFont, &quot;Helvetica Neue&quot;, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei UI&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif; font-size: 17px; white-space: normal; widows: 1; background-color: rgb(239, 250, 253); visibility: visible !important; overflow-wrap: break-word !important; box-sizing: border-box !important; width: 528px !important; height: auto !important;"
                                 data-ratio="0.05421686746987952" data-type="png" data-w="664"
                                 _width="528px" data-darkmode-bgcolor="rgb(184, 192, 195)"
                                 data-style="text-align: left; color: rgb(54, 84, 125); letter-spacing: 1.5px; font-family: -apple-system-font, BlinkMacSystemFont, &quot;Helvetica Neue&quot;, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei UI&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif; font-size: 17px; white-space: normal; widows: 1; background-color: rgb(239, 250, 253); width: 528px !important; height: 28.62px !important; visibility: visible !important; overflow-wrap: break-word !important; box-sizing: border-box !important;"
                                 class="js_darkmode__19" src="/Public/Admin/img/flower_rattan.png"
                                 crossorigin="anonymous" data-fail="0">
                        </section>
                        <br>
                        {%foreach $results as $result%}
                        <section>
                            <span>
                                <a href="{%$result.url%}" target="_blank">《{%$result.title%}》作者：{%$result.author%}</a>
                            </span>
                        </section>
                        <section >
                            <span>
                                {%$result.introduce%}
                            </span>
                        </section>
                        <br>
                        <section>
                            <img style="text-align: left; color: rgb(54, 84, 125); letter-spacing: 1.5px; font-family: -apple-system-font, BlinkMacSystemFont, &quot;Helvetica Neue&quot;, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei UI&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif; font-size: 17px; white-space: normal; widows: 1; background-color: rgb(239, 250, 253); visibility: visible !important; overflow-wrap: break-word !important; box-sizing: border-box !important; width: 528px !important; height: auto !important;"
                                 data-ratio="0.05421686746987952" data-type="png" data-w="664"
                                 _width="528px" data-darkmode-bgcolor="rgb(184, 192, 195)"
                                 data-style="text-align: left; color: rgb(54, 84, 125); letter-spacing: 1.5px; font-family: -apple-system-font, BlinkMacSystemFont, &quot;Helvetica Neue&quot;, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei UI&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif; font-size: 17px; white-space: normal; widows: 1; background-color: rgb(239, 250, 253); width: 528px !important; height: 28.62px !important; visibility: visible !important; overflow-wrap: break-word !important; box-sizing: border-box !important;"
                                 class="js_darkmode__19" src="/Public/Admin/img/flower_rattan.png"
                                 crossorigin="anonymous" data-fail="0">
                        </section>
                        <br>
                        {%/foreach%}

                        <p>小可爱们在公众号【桃子推文小站】中发送对应小说名字即可在线阅读喔~</p>

                    </section>
                </section>
            </section>
        </section>
    </section>
</div>

</body>
</html>