<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="推文鸭"/>
    <meta name="description"
          content="tuiwenya - 推文鸭 - 推文呀 - 桃子推文小站 - 小说阅读 - 小说搜索引擎 - 免费小说 - tuiwenya只提供检索服务 - 给你最好的搜索服务 - 最清新简洁的阅读体验 - 免费全本小说"/>
    <meta name="copyright" Content="本页版权归tuiwenya.net所有 All Rights Reserved">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/Public/Home/novels/img/favicon.ico"/>
    <link rel="bookmark" href="/Public/Home/novels/img/favicon.ico"/>
    <link rel="stylesheet" href="/Public/Home/novels/css/main.css">
    {%block name="header"%}{%/block%}
    <!-- Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<!--    <script data-ad-client="ca-pub-6433033437420352" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
</head>
<body>
{%block name="content"%}{%/block%}
{%include file="novels/logout.html"%}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/Public/Home/novels/js/main.js"></script>
{%block name="script"%}{%/block%}
</body>
</html>