<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>404-tuiwenya</title>
		<meta name="renderer" content="webkit" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="/Home/View/except/style.css">
		<link rel="shortcut icon" href="/Public/Home/novels/img/favicon.ico">
	</head>
	<body>
		<div class="container">
			<img class="bg" src="/Home/View/except/404.png"/>
			<div class="btn">
				<a href="?c=index" class="goindex">返回首页</a>
				<a class="lx" style="cursor:pointer" οnclick="javascript:history.go(-1);">返回上一页面</a>
				<div style="clear:both;"></div>
			</div>
		</div>
	</body>
</html>