<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="tuiwenya - 免费小说 - 免费小说阅读 - 免费无广告小说阅读 - 免费小说搜索 - 免费全本小说 - 无广告 - 免费小说 - 小说搜索引擎"/>
    <meta name="description"
          content="tuiwenya - 小说阅读 - 小说搜索引擎 - 免费小说 - tuiwenya只提供检索服务 - 给你最好的搜索服务 - 最清新简洁的阅读体验 - 无广告 - 页面清爽 - 免费全本小说"/>
    <meta name="copyright" Content="本页版权归tuiwenya.net所有 All Rights Reserved">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/Public/Home/novels/img/favicon.ico"/>
    <link rel="bookmark" href="/Public/Home/novels/img/favicon.ico"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdui/0.2.1/css/mdui.min.css" rel="stylesheet">
    {%block name="header"%}{%/block%}
</head>
<body class="mdui-appbar-with-toolbar mdui-theme-primary-indigo mdui-theme-accent-pink">
{%block name="content"%}{%/block%}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mdui/0.2.1/js/mdui.min.js"></script>
<script src="/Public/Home/md/js/index.js"></script>
<script src="/Public/Home/md/js/theme.js"></script>
{%block name="script"%}{%/block%}
</body>
</html>